# Frontend
VITE_API_BASE_URL=http://localhost:8080/api/v1
VITE_USE_MOCKS=false

# Backend
APP_ENV=development
APP_PORT=8080
CORS_ORIGINS=http://localhost:3000
DATABASE_URL=postgres://postgres:postgres@localhost:5433/zistributo?sslmode=disable
APP_CURRENT_USER_ID=1
APP_CURRENT_USER_NAME=Kevin Arora
APP_CURRENT_USER_PHONE=+919876500000
SMS_PROVIDER=log
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_PHONE_NUMBER=
TWILIO_MESSAGING_SERVICE_SID=
TWILIO_VERIFY_SERVICE_SID=
